
<%- include('includes/header') %>

<div class="container reg-page">
	<% if(locals.errors){ %>
	<% errors.forEach(function(error){ %>
	<div class="alert alert-danger"> <%= error.msg %> </div>
	<%	}) %>
	<% } %>
	<form method="post" action="/users/register" class="form-signin">
		<h2 class="form-signin-heading text-center">User Registration</h2>
		<label class="sr-only">First Name</label>
		<input type="text" name="firstName" class="form-control" placeholder="First name" value="<%= (!!locals.firstName)?firstName:'' %>" required autofocus>
		<br>
		<label class="sr-only">Last Name</label>
		<input type="text" name="lastName" class="form-control" value="<%= (!!locals.lastName)?lastName:'' %>" placeholder="Last name" required>
		<br>
		<label class="sr-only">Username</label>
		<input type="text" name="username" class="form-control" value="<%= (!!locals.username)?username:'' %>" placeholder="Username" required autofocus>
		<br>

		<label class="sr-only">Email</label>
		<input type="text" name="email" class="form-control" value="<%= (!!locals.email)?email:'' %>" placeholder="Email" required autofocus>
		<br>
		<label class="sr-only">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password" value="<%= (!!locals.password)?password:'' %>" required>
		<br>
		<label class="sr-only">Confirm Password</label>
		<input type="password" name="password2" class="form-control" placeholder="Password Confirm" value="<%= (!!locals.password2)?password2:'' %>" required>
		<p>Have Account? <a href="/users/login">Login</a></p>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
	</form>
</div> <!-- /container -->

<%- include('includes/footer') %>